*.pyc
data_bus.txt
Transpiler.class
Transpiler.java
*.json
*.xml
*.json
.clj-kondo/.cache/v1/clj/user.transit.json
*.json
**/.DS_Store
venv/lib/python3.10/weakref.py
venv/lib/python3.10/warnings.py
venv/lib/python3.10/types.py
venv/lib/python3.10/tokenize.py
venv/lib/python3.10/token.py
venv/lib/python3.10/tempfile.py
venv/lib/python3.10/tarfile.py
venv/lib/python3.10/struct.py
venv/lib/python3.10/stat.py
venv/lib/python3.10/sre_parse.py
venv/lib/python3.10/sre_constants.py
venv/lib/python3.10/sre_compile.py
venv/lib/python3.10/site.py
venv/lib/python3.10/shutil.py
venv/lib/python3.10/rlcompleter.py
venv/lib/python3.10/reprlib.py
venv/lib/python3.10/re.py
venv/lib/python3.10/random.py
venv/lib/python3.10/posixpath.py
venv/lib/python3.10/os.py
venv/lib/python3.10/orig-prefix.txt
venv/lib/python3.10/operator.py
venv/lib/python3.10/ntpath.py
venv/lib/python3.10/no-global-site-packages.txt
venv/lib/python3.10/locale.py
venv/lib/python3.10/linecache.py
venv/lib/python3.10/LICENSE.txt
venv/lib/python3.10/lib-dynload
venv/lib/python3.10/keyword.py
venv/lib/python3.10/io.py
venv/lib/python3.10/importlib
venv/lib/python3.10/imp.py
venv/lib/python3.10/hmac.py
venv/lib/python3.10/heapq.py
venv/lib/python3.10/hashlib.py
venv/lib/python3.10/genericpath.py
venv/lib/python3.10/functools.py
venv/lib/python3.10/fnmatch.py
venv/lib/python3.10/enum.py
venv/lib/python3.10/encodings
venv/lib/python3.10/copyreg.py
venv/lib/python3.10/copy.py
venv/lib/python3.10/config-3.10-darwin
venv/lib/python3.10/collections
venv/lib/python3.10/codecs.py
venv/lib/python3.10/bisect.py
venv/lib/python3.10/base64.py
venv/lib/python3.10/abc.py
venv/lib/python3.10/_weakrefset.py
venv/lib/python3.10/_collections_abc.py
venv/lib/python3.10/__future__.py
venv/lib/python3.1/readline.so
venv/include/python3.10
venv/bin/python3.10
venv/bin/python3
venv/bin/python
venv/.Python
.idea/Visual Editor.iml
.idea/misc.xml
.idea/misc.xml
.idea/Visual Editor.iml
.clj-kondo/.cache/v1/clj/user.transit.json
.clj-kondo/.cache/v1/clj/user.transit.json

flask-project/flask_session/*
flask-project/venv/lib/*
.DS_Store
.DS_Store
.lsp/.cache/db.transit.json
.lsp/.cache/db.transit.json
.lsp/.cache/db.transit.json

*/target
