.App {
  float: left;
  padding-left: 100px;
  text-align: center;
}
.Vertical {
  text-align: center;
  float: right;
  overflow: auto;
}
.Map {
  background-color: gold;
  /* display: inline-block; */
  /* width: min-content; */
  /* height: min-content; */
  padding: 3px;
  margin: 3px;
  border-radius: 7px;
  border-style: outset;
  text-align: center !important;
}
.Node {
  background-color: #fcf5c9;
  /* display: inline-block; */
  /* width: auto; */
  /* height: auto; */
  /* width: min-content; */
  /* height: min-content; */
  min-width: 8px;
  min-height: 8px;
  padding: 1px;
  margin: 3px;
  border-radius: 4px;
  border-style: inset;
  vertical-align: middle;
}
.io {
  background-color: gold;
  /* display: inline-block; */
  /* width: auto; */
  /* height: auto; */
  padding: 2px 6px;
  margin: 3px;
  border-radius: 7px;
  border-style: outset;
  background-color: #57c357;
}
.constant {
  background-color: gold;
  /* display: inline-block; */
  /* width: auto; */
  /* height: auto; */
  padding: 2px 6px;
  margin: 3px;
  border-radius: 7px;
  border-style: outset;
  background-color: #57bec3;
}
.selected {
  border-color: red !important;
}
.secondSelect{
  border-color: blue;
}
.Horizontal{
  border-bottom: 1px dashed rgba(0, 0, 0, 0.186);
}
table {
  border-collapse: separate !important;
  border: none;
  /* border-color: white; */
}
.row_ {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.186) !important;
}
.col_ {
  /* border-right: 1px dashed rgba(0, 0, 0, 0.186); */
}
td {
  /* vertical-align: top; */
  padding: 0px;
}
tr {
  text-align: center;
}
td, tr, table {
  /* padding: 0px; */
  /* margin: 0px; */
  border-spacing: 0px;
}