html {
  background-color: rgb(249, 248, 226);
}
.App {
  float: left;
  padding-left: 100px;
  padding-top: 50px;
  text-align: center;
}
.Vertical {
  text-align: center;
  float: right;
  overflow: auto;
}
.Map {
  background-color: gold;
  /* display: inline-block; */
  /* width: min-content; */
  /* height: min-content; */
  padding: 3px;
  margin: 3px;
  border-radius: 7px;
  border-style: outset;
  text-align: center !important;
}
.Node {
  background-color: #fcf5c9;
  /* display: inline-block; */
  /* width: auto; */
  /* height: auto; */
  /* width: min-content; */
  /* height: min-content; */
  min-width: 8px;
  min-height: 8px;
  padding: 1px;
  margin: 3px;
  border-radius: 4px;
  border-style: inset;
  vertical-align: middle;
}
.io {
  background-color: gold;
  /* display: inline-block; */
  /* width: auto; */
  /* height: auto; */
  padding: 2px 6px;
  margin: 3px;
  border-radius: 7px;
  border-style: outset;
  background-color: #57c357;
}
.constant {
  background-color: gold;
  /* display: inline-block; */
  /* width: auto; */
  /* height: auto; */
  padding: 2px 6px;
  margin: 3px;
  border-radius: 7px;
  border-style: outset;
  background-color: #57bec3;
}

.Recursive{
  background-color: #f6c3f4;  
}

.selected {
  border-color: rgb(184, 88, 88) !important;
}

.secondSelect{
  border-color: rgb(48, 105, 225);
}

.Horizontal{
  border-bottom: 1px dashed rgba(0, 0, 0, 0.186);
}

table {
  border-collapse: separate !important;
  border: none;
  /* border-color: white; */
}

.row_ {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.186) !important;
}

.col_ {
  /* border-right: 1px dashed rgba(0, 0, 0, 0.186); */
}

td {
  /* vertical-align: top; */
  padding: 0px;
}

tr {
  text-align: center;
}
td, tr, table {
  /* padding: 0px; */
  /* margin: 0px; */
  border-spacing: 0px;
}

.to_connect {
  border: 2px solid rgb(106, 187, 106);
}

.id {
  background-color: lemonchiffon;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(194, 218, 239);
}

.unbound {
  background-color: rgb(208, 198, 198);
  border-style: groove;
}

.supplier {
  background-color: gray;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(194, 218, 239);
}

.inline {
  margin: 1px 2px 1px 2px;
  padding: 0px 2px 0px 2px;
  border-radius: 7px;
  border-style: solid;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.186) !important;
  border-top: 1px dashed rgba(0, 0, 0, 0.186) !important;
  text-align: center !important;
}

.simulated {
  background: linear-gradient(#57bec3, rgb(208,198,198));
}

.setvariable {
  background: linear-gradient(#a7d5d7, rgb(243, 90, 197));
}

.getvariable {
  background: linear-gradient(rgb(243, 90, 197), #a7d5d7);
}